<div class="container-new">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <div class="form-event">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs class=row g-3">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>En attente de confirmation de: <%= resource.unconfirmed_email %></p>
          <% end %>
        <div class="col-md-5">
          <%= f.input :first_name,
                      label: "Prénom",
                      hint: "Ne pas rensigner si tu ne souhaites pas changer de prénom",
                      required: false,
                      input_html: { autocomplete: "Nouveau prénom" } %>
        </div>
        <div class="col-md-5">
          <%= f.input :last_name,
                      label: "Nom de famille",
                      hint: "Ne pas rensigner si tu ne souhaites pas changer de nom de famille",
                      required: false,
                      input_html: { autocomplete: "nouveau nom de famille" } %>
        </div>
        <div class="col-md-5">
          <%= f.input :phone_number,
                      label: "Numéro de téléphone",
                      hint: "Ne pas rensigner si tu ne souhaites pas changer de numéro de téléphone",
                      required: false,
                      input_html: { autocomplete: "Nouveau numéro de téléphone" } %>
        </div>
        <div class="col-md-5">
          <%= f.input :address,
                      label: "Adresse",
                      hint: "Ne pas rensigner si tu ne souhaites pas changer d'adresse",
                      required: false,
                      input_html: { autocomplete: "Nouvelle adresse" } %>
        </div>
        <div class="col-md-5">
          <%= f.input :zip_code,
                      label: "code postale",
                      hint: "Ne pas rensigner si tu ne souhaites pas changer de code postale",
                      required: false,
                      input_html: { autocomplete: "Nouveau code postale" } %>
        </div>
        <div class="col-md-5">
          <%= f.input :city,
                      label: "ville de résidence",
                      hint: "Ne pas rensigner si tu ne souhaites pas changer de ville de résidence",
                      required: false,
                      input_html: { autocomplete: "Nouvelle ville de résidence" } %>
        </div>
        <div class="col-md-5">
          <%= f.input :age,
                      label: "Age",
                      hint: "Ne pas rensigner si tu ne souhaites pas changer d'âge",
                      required: false,
                      input_html: { autocomplete: "ton nouvel âge" } %>
        </div>
        <div class="col-md-5">
          <%= f.input :sex,
                      label: "Sexe",
                      hint: "Ne pas rensigner si tu ne souhaites pas changer ton sexe ",
                      required: false,
                      input_html: { autocomplete: "ton nouvel sexe" } %>
        </div>

          <%= f.input :password,
                      label: "New password",
                      hint: "Ne pas rensigner si tu ne souhaites pas changer de mot de passe",
                      required: false,
                      input_html: { autocomplete: "Nouveau mot de passe" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "Nouveau mot de passe" } %>
          <%= f.input :current_password,
                      hint: "Nous avons besoin de ton mot de passe actuel pour confirmer les changements",
                      required: true,
                      input_html: { autocomplete: "Mot de passe actuel" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Mettre à jour" %>
        </div>
      <% end %>

      <h3>Supprimer mon compte</h3>

      <div class="d-flex align-items-center">
        <div>Mécontent ?</div>
        <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Es-tu sûr ?" }, method: :delete, class: "btn btn-link" %>
      </div>

      <%= link_to "Retour", :back %>
        </div>
      </div>
    </div>
  </div>
</div>
