<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>En attente de confirmation de: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      label: "New password",
                      hint: "Ne pas rensigner si tu ne souhaites pas changer de mot de passe",
                      required: false,
                      input_html: { autocomplete: "Nouveau mot de passe" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "Nouveau mot de passe" } %>
          <%= f.input :current_password,
                      hint: "Nous avons besoin de ton mot de passe actuel pour confirmer les changements",
                      required: true,
                      input_html: { autocomplete: "Mot de passe actuel" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Mettre à jour" %>
        </div>
      <% end %>

      <h3>Supprimer mon compte</h3>

      <div class="d-flex align-items-center">
        <div>Mécontent ?</div>
        <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Es-tu sûr ?" }, method: :delete, class: "btn btn-link" %>
      </div>

      <%= link_to "Retour", :back %>
    </div>
  </div>
</div>
