<div class="container-edit">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <div class="form-login">
            <h2>Inscription</h2><br><br>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
              <%= f.error_notification %>

              <div class="row">

              <div class="col-md-6">
                <%= f.input :first_name,
                            label: "Prénom",
                            required: true %>
              </div>

              <div class="col-md-6">
                <%= f.input :last_name,
                            label: "Nom",
                            required: true %>
              </div>

              <div class="col-md-2">
                <%= f.input :age,
                            label: "Age",
                            required: true,
                            input_html: { min: '12', step: '1' } %>
              </div>

              <div class="col-md-3">

                <%= f.input :sex,
                            label: "Sexe",
                            collection: ['Homme', 'Femme'],
                            required: true %>
              </div>

              <div class="col-md-7">
                <%= f.input :city,
                            label: "Ville" %>
              </div>

              <div class="col-md-6">
                <%= f.input :phone_number,
                            label: "Numéro de téléphone",
                            required: true %>
              </div>

              <div class="col-md-6">
                <%= f.input :email,
                            label: "Email de connexion",
                            required: true,
                            autofocus: true %>
              </div>

              <div class="col-md-6">
                <%= f.input :password,
                            label: "Mot de passe",
                            required: true %>
              </div>

              <div class="col-md-6">
                <%= f.input :password_confirmation,
                          label: "Confirmer mot de passe",
                          required: true %>
              </div>

            </div><br>

            <div class="form-actions col-md-12">
              <%= f.button :submit, "S'inscrire", class: "btn btn-success" %>
            </div>
          <% end %><br><br>

          <%= render "devise/shared/links" %><br><br>

        </div>
      </div>
    </div>
  </div>
</div>
