<h1>Friendlist</h1>

<% if @user.friends.any? %>
  <h2>Your friends</h2>
  <ul>
    <% @user.friends.each do |friend| %>
      <li><%= friend.first_name %> <%= friend.last_name %></li>
    <% end %>
  </ul>
<% else %>
  <p>You have no friends yet</p>
<% end %>

<div class="d-flex justify-content-center">
        <div class="form_search">
          <%= simple_form_for :search, method: :get, defaults: { required: false } do |f| %>
            <%= f.input :"", label: "", placeholder: "Je cherche une personne ", input_html: { name: 'search', value: params.dig(:search) } %>
          <% end %>
        </div>
      </div>

<h2>Search for users</h2>
<%= form_tag search_friends_path, method: :get do %>
  <%= label_tag :first_name %>
  <%= text_field_tag :first_name %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @search_results.any? %>
  <h2>Search results</h2>
  <ul>
    <% @search_results.each do |user| %>
      <% unless user == @user || @users.include?(user) %>
        <li><%= user.first_name %> - <%= link_to 'Add as friend', add_friend_path(user), method: :post %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
