 <div class="booking-new-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <div class="booking-card"><br>
          <h1>Modifier ma demande de réservation</h1>

          <h2>Récapitulatif de ton inscription</h2>
          <div class="d-flex justify-content-start">
            <ul>
              <li class="d-flex justify-content-start"><p><strong>Activité :</strong> <%= @event.sport.sport_name %></p></li>
              <li class="d-flex justify-content-start"><p><strong>Date :</strong> <%= @event.date.strftime("%d/%m/%Y") %></p></li>
              <li class="d-flex justify-content-start"><p><strong>Heure :</strong> <%= @event.time.strftime("%kh%M") %></p></li>
              <li class="d-flex justify-content-start"><p><strong>Adresse :</strong> <%= @event.address %></p></li>
              <li class="d-flex justify-content-start"><p><strong>Prix :</strong> <%= @event.price %> €</p></li>
            </ul>
          </div>

          <h2>Mes informations personnelles</h2>
            <ul>
              <li class="d-flex justify-content-start"><p><strong>Nom :</strong> <%= current_user.first_name %></p></li>
              <li class="d-flex justify-content-start"><p><strong>Prénom :</strong> <%= current_user.last_name %></p></li>
              <li class="d-flex justify-content-start"><p><strong>Email :</strong> <%= current_user.email %></p></li>
            </ul>

          <% if @booking.booking_status == "En attente de validation" %>
            <%= form_with(model: [@event, @booking]) do |form| %>
              <%= form.hidden_field :user_id, value: current_user.id %>
              <%= form.hidden_field :event_id, value: @event.id %>
              <div class="d-flex justify-content-center">
              <div class="col-5">
                <%= form.submit "Valider les modifications", class: "btn btn-outline-success" %>
              </div>
              <% end %>
              <div class="col-1"></div>
              <div class="col-5">
                <%= link_to "Annuler", event_path(@event), class: "btn btn-outline-secondary" %>
              </div>
          <% else %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
