 <div class="booking-show-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <h1>Ta place est réservée !</h1>

        <h2>Informations sur l'événement</h2>
          <ul>
              <li class="d-flex justify-content-start"><p><strong>Activité :</strong> <%= @event.sport.sport_name %></p></li>
              <li class="d-flex justify-content-start"><p><strong>Date :</strong> <%= @event.date.strftime("%d/%m/%Y") %></p></li>
              <li class="d-flex justify-content-start"><p><strong>Heure :</strong> <%= @event.time.strftime("%kh%M") %></p></li>
              <li class="d-flex justify-content-start"><p><strong>Adresse :</strong> <%= @event.address %></p></li>
              <li class="d-flex justify-content-start"><p><strong>Prix :</strong> <%= @event.price %> €</p></li>
          </ul>

        <%= link_to "Evénements", events_path, class: "btn btn-outline-warning" %>
        <%= link_to "Dashboard", dashboard_path, class: "btn btn-outline-warning" %>
      </div>
    </div>
  </div>
</div>
