<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <div>
      <a class="navbar-brand" href="">
      <img src="https://res.cloudinary.com/di7k88pkv/image/upload/v1675773995/development/9d57b7mzxng9axv78r9rfh0sael8.png" alt="Logo" width="30%" height="30%" class="d-inline-block align-text-top">
      </a>
    </div>

    <div class="cities">
      <%= link_to "Paris", events_path(search:"Paris") %>
      <%= link_to "Marseille", events_path(search:"Marseille") %>
      <%= link_to "Lyon", events_path(search:"Lyon") %>
      <%= link_to "Lausanne", events_path(search:"Lausanne") %>
      <%= link_to "Bayonne", events_path(search:"Bayonne") %>
      <%= link_to "Peyrehorade", events_path(search:"Peyrehorade") %><br>
    </div>

    <div class="sports">
      <%= link_to "Football", events_path(search:"Football") %>
      <%= link_to "Tennis", events_path(search:"Tennis") %>
      <%= link_to "Badminton", events_path(search:"Badminton") %>
      <%= link_to "Basketball", events_path(search:"Basketball") %>
      <%= link_to "Yoga", events_path(search:"Yoga") %>
    </div>

    <div>
      <%= link_to "Ajouter un événement", new_event_path, class: "btn btn-outline-warning" %><br>
    </div>


    <%# <div><%= link_to "Mes inscriptions", bookings_path, class: "nav-link" %>

      <%# <ul> %>
        <% if user_signed_in? %>
          <%# <li class="nav-item dropdown"> %>
            <strong><%=current_user.full_name %></strong>
            <%# <%= image_tag "https://res.cloudinary.com/di7k88pkv/image/upload/v1674220835/rwcaekxsosig45kistar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", profile_path, class: "dropdown-item" %>
              <%# <%= link_to "Bookings", bookings_path, class: "dropdown-item" %>
              <%# <%= link_to "Setting", "#", class: "dropdown-item" %>
              <%# <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            <%# </div>
          </li> %>
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
      <%# </ul> %>
    </div>
  </div>
</div>
