<section id="navigation">
  <nav class="navbar sticky-top navbar-expand-lg" style ="background-image: url('https://res.cloudinary.com/di7k88pkv/image/upload/v1676036360/jezuvnidzu3280wr1aqi.jpg'); width: 100%; height: 12vh;">
    <div class="container">
      <div>
        <%= link_to events_path, class: "navbar-brand" do %>
          <%= image_tag "", height: 40, width: 40, alt: "Logo blablasport" %>
        <% end %>
      </div>

      <button class="navbar-toggler" style ="color: white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="nav-item">
        <%= link_to "Ajouter un événement", new_event_path %>

        <%# <%= link_to "Paris", events_path(search:"Paris") %>
        <%# <%= link_to "Marseille", events_path(search:"Marseille") %>
        <%# <%= link_to "Strasbourg", events_path(search:"Strasbourg") %>
        <%# <%= link_to "Lausanne", events_path(search:"Lausanne") %>
        <%# <%= link_to "Peyrehorade", events_path(search:"Peyrehorade") %>
        <% if user_signed_in? %>
          <div class="nav-item dropdown">
            <%=current_user.full_name %>
            <%= image_tag "", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mon Profil", profile_path, class: "dropdown-item" %>
              <%= link_to "Mon tableau de bord", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Settings", settings_path, class: "dropdown-item" %>
              <%= link_to "Me deconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </div>
        <% else %>
          <%= link_to "Connextion", new_user_session_path, class: "nav-link" %>
        <% end %>
      </div>
    </div>
  </nav>
</section>
