<%# <video id="background-video" autoplay muted loop id="myVideo">
  <source src="https://res.cloudinary.com/di7k88pkv/video/upload/v1676656463/production_ID_4440937_yjqeyx.mp4" type="video/mp4">
</video> %>

<video id="background-video" autoplay muted loop id="myVideo">
  <source src="https://res.cloudinary.com/di7k88pkv/video/upload/v1676656463/production_ID_4440937_yjqeyx.mp4" type="video/mp4">
</video>

<div class="logo-index-mobile">
  <div class="logo-index">
      <%= image_tag "https://res.cloudinary.com/di7k88pkv/image/upload/v1675864703/agenx4hoeac8j1gufekm.png", alt: "BlaBlaSport" %>
  </div>
</div>

<div class="hidden-mobile">
  <div class= "middle-container">
    <h1>Rejoins la communauté BLABLASPORT !</h1>
    <h2>LE réseau sportif</h2>
    <h3>Trouve des adversaires Rejoins une équipe</h3>
    <h4>Découvre de nouveaux sports Organise ta cession</h4>
    <h5>Rencontre de nouveaux joueurs et suis-les !</h5>
  </div>
</div>

<div class="diagonal-box"></div>
<div class="diagonal-box2"></div>

<div class="search-index-form">

  <form class="form_search row">
    <%= simple_form_for :search, method: :get, defaults: { required: false } do |f| %>
      <div class="col-12 col-lg-12 col-sm-12">
        <input type="search"  name= 'search' value: params.dig(:search) class="form-control" id="inputRecherche3" placeholder= "Je cherche une activité, ex : Foot à Paris">
        <button type="submit" class="btn btn-info">Go</button>
      </div>
    <% end %>
  </form>

  <div class="add-activity">
    <%= link_to "Je souhaite publier une activité", new_event_path, class: "btn btn-info" %>
  </div>

</div>

<div class="events-container">
  <div class="container">
    <div class="row">
      <div class= "events_card col-12 col-lg-8">
        <%# <h1>Evénements à venir</h1> %>
        <% if @events.empty? %><br>
          <div class="d-flex justify-content-end"><span>Il n'y a pas de résultat avec ces critères</span></div>
        <% else %>
          <div class= "events_cards">
            <% @events.first(30).each do |event| %>
              <% unless Date.today > event.date %>
                <div class="event-card" data-bs-customClass="popover-description" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Description" data-bs-content="<%= event.description %>">
                  <h3><strong><%= event.sport.sport_name %></strong></h3>
                  <h4><strong><%= event.address.split.last(2).first.chomp(',') %></strong></h4>
                  <h4><i class="fa-solid fa-circle-info" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-html="true"
                  title="Niveau minimum requis: <%= event.level %><% if event.age_mini.nil? %><% else %> - Age mini : <%= event.age_mini %><% end %>
                  <% if event.age_maxi.nil? %><% else %> - Age maxi : <%= event.age_maxi %> ans<% end %>"></i></h4>
                  <h5><%= event.date.strftime("%d/%m/%Y") %><br><%= event.time.strftime("%kh%M") %></h5>
                  <h5>
                    <% if event.players_number - event.bookings.where(booking_status: "Acceptée").count > 1 %>
                      <div class="badge-success"><%= event.players_number - event.bookings.where(booking_status: "Acceptée").count %> places</div>
                    <% elsif event.players_number - event.bookings.where(booking_status: "Acceptée").count == 1 %>
                      <div class="badge-warning">1 place !</div>
                    <% else event.players_number - event.bookings.where(booking_status: "Acceptée").count == nil %>
                      <div class="badge-danger">Complet</div>
                    <% end %>
                  </h5>
                  <%# <h6>Créé le <%= event.created_at.strftime("%d/%m/%Y") %>
                  <h6>Créé par <strong><%= event.user.first_name %></strong><br>
                    <%# <% unless event.user.number_of_events == nil %>
                      <%# <% if event.user.number_of_events == 1 %>
                        <%# <span> (1 partie organisée)</span> %>
                      <%# <% else %>
                        <%# <span> (<%= event.user.number_of_events %>
                      <%# parties organisées) </span> %>
                      <%# <% end %>
                    <%# <% end %>
                    <% starfull = event.user.average_rating %>
                    <% unless starfull == "Pas de note" %>
                      <% starfull.times do %>
                        <i class="fa-solid fa-star"></i>
                      <% end %>
                      <% (5-starfull).times do %>
                        <i class="fa-regular fa-star"></i>
                      <% end %>
                    <% end %>
                  </h6>
                  <%= link_to "Voir le détail", event_path(event), class: "btn btn-outline-warning btn-sm" %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class= "col-12 col-lg-1"></div>

      <div class= "feed_card col-12 col-lg-3">

        <div id="map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

        <div class="activity-feed">
        <%# PUBLIC ACTIVITY !! %>
          <div class="events-passed"><h1>Evénements passés</h1>
            <% @events.first(10) %>
            <% @events.each do |event| %>
              <% unless Date.today < event.date %>
                <div class="event-passed">
                <%# data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Description" data-bs-content="<%= event.description %>
                <h4><strong><%= event.sport.sport_name %></strong>
                  <span> - <strong><%= event.address.split.last(2).first.chomp(',') %></strong><br>Le <%= event.date.strftime("%d/%m/%Y") %> à <%= event.time.strftime("%kh%M") %><br></h4>
                    <%# <h6>Créé le <%= event.created_at.strftime("%d/%m/%Y") %>
                    <h6>Créé par <strong><%= event.user.first_name %></strong>
                      <% starfull = event.user.average_rating %>
                      <% unless starfull == "Pas de note" %>
                        <% starfull.times do %>
                          <i class="fa-solid fa-star"></i>
                        <% end %>
                        <% (5-starfull).times do %>
                          <i class="fa-regular fa-star"></i>
                        <% end %>
                      <% end %><br>
                      <% unless event.user.number_of_events == nil %>
                        <% if event.user.number_of_events == 1 %>
                          <span> (1 partie organisée)</span>
                        <% else %>
                          <span> (<%= event.user.number_of_events %> parties organisées)</span><br>
                        <% end %>
                      <% end %>
                    </h6>
                  <%= link_to "Voir le détail", event_path(event), class: "btn btn-secondary btn-sm" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
