
<div class="container-form">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">

      <h1>BlablaSport, le réseau sportif </h1>
      <h2>Partages tes séances et trouves de nouveaux partenaires</h2><br>

      <h3>Rejoins une partie !</h3>

      <div>
        <%= simple_form_for :search, method: :get, defaults: { required: false } do |f| %>
          <%= f.input :"", label: "", placeholder: "Activité, Lieu ? ", input_html: { name: 'search', value: params.dig(:search) } %>
        <% end %>
      </div>

      <div class="d-flex" style="width: 100% ; height: 400px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div><br>

      <div>
        <h3>Toutes les parties à venir : </h3><br>

        <% @events.each do |event| %>
          <h4><strong><%= event.sport.sport_name %></strong> - <span><strong><%= event.address.split.last %></strong> - Le <%= event.date %> à <%= event.time.strftime("%kh%M") %><br></h2>

          <%= event.title %>
          <span> - <% if event.players_number == 1 %>
          <strong><%= event.players_number %></strong> place disponible
          <% else %>
          <strong><%= event.players_number %></strong> places disponibles
          <% end %></span>

          <p>Créé par : <strong><%= event.user.first_name %></strong><span> le <%= event.created_at %></span></p>
          <%= link_to "Voir le détail", event_path(event), class: "btn btn-outline-secondary" %><br><br>
        <% end %>
      </div>

    </div>
  </div>
</div>
