
<div class="banner">
  <div class="d-flex justify-content-center"><%= image_tag "https://res.cloudinary.com/di7k88pkv/image/upload/v1675864703/agenx4hoeac8j1gufekm.png", height: 200, alt: "Logo blablasport" %></div>
  <div class="d-flex justify-content-center"><h1>LE RESEAU SPORTIF</h1></div><br><br>
  <div class="d-flex justify-content-center"><h6>L'application qui permet de participer ou d'organiser des événements avec ceux qui partagent les mêmes centres d'intérêts sportifs !</h6></div>
</div><br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">

      <div class="d-flex justify-content-center"><%= link_to "Je cherche des joueurs", new_event_path, class: "btn btn-outline-warning" %></div>
      <div class="d-flex justify-content-center">
        <div class="form_search">
          <%= simple_form_for :search, method: :get, defaults: { required: false } do |f| %>
            <%= f.input :"", label: "", placeholder: "Je cherche une partie ", input_html: { name: 'search', value: params.dig(:search) } %>
          <% end %>
        </div>
      </div>

      <div id="map" class="d-flex" style="width: 100% ; height: 400px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div><br>

      <div class= "events_card col-lg-5 col-sm-12">
        <h1>A venir : </h1><br>

          <% @events.each do |event| %>
            <% unless Date.today > event.date %>
              <h4><strong><%= event.sport.sport_name %></strong>
              <span> - <strong><%= event.address.split.last %></strong> - Le <%= event.date.strftime("%d/%m/%Y") %> à <%= event.time.strftime("%kh%M") %><br></h4>

              <% if event.players_number == 1 %>
                <span><strong><%= event.players_number %></strong> place disponible</span><br>
              <% else %>
                <span><strong><%= event.players_number %></strong> places disponibles</span><br>
              <% end %>

              <h6>Créé par <strong><%= event.user.first_name %>test :<%= event.user.average_rating %></strong><span> le <%= event.created_at.strftime("%d/%m/%Y") %></span></h6>

              <%= link_to "Voir le détail", event_path(event), class: "btn btn-outline-secondary" %><br><br>
            <% end %>
        <% end %>
      </div><br><br>

      <div class= "events_card col-lg-5 col-sm-12">
        <h1>Evénements passés : </h1><br>

        <% @events.each do |event| %>
          <% unless Date.today < event.date %>
            <h4><strong><%= event.sport.sport_name %></strong>
            <span> - <strong><%= event.address.split.last %></strong> - Le <%= event.date.strftime("%d/%m/%Y") %> à <%= event.time.strftime("%kh%M") %><br></h4>
            <h6>Créé par <strong><%= event.user.first_name %> test :<%= event.user.average_rating %><%= @user_rating %></strong><span> le <%= event.created_at.strftime("%d/%m/%Y") %></span></h6>
            <%= link_to "Voir le détail", event_path(event), class: "btn btn-outline-secondary" %><br><br>
          <% end %>
        <% end %>
      </div><br><br>
    </div>
  </div>
</div>
