<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="form-login">
        <h2>Je publie un événement</h2>
        <%= @error %>
        <%= simple_form_for @event do |f| %>
          <%= f.input :sport_id, collection: @ordered_list, label: "Choisis ton sport" %>
          <%= f.input :players_number, label: "Place(s) disponible(s)" %>
          <%= f.input :level,  collection: ['Débutant (pour tous)','Intermédiaire','Confirmé'], label: "Niveau minimum requis" %>
          <%= f.input :address, label: "Adresse complète", input_html: {data: {address_autocomplete_target: "address"}}, as: :hidden, wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
          <%= f.input :price, label: "Prix" %>
          <%= f.input :date %>
          <%= f.input :time, label: "Heure de début" %>
          <%= f.input :duration, label: "Durée en minutes" %>
          <%= f.input :description, label: "Eventuel commentaire" %>
          <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
          <%= f.submit "Publier", class: "btn btn-warning" %>
        <% end %>
        <%= link_to "Retour au menu", events_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
