<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">

      <h4><strong><%= @event.sport.sport_name.upcase %></strong>
      <span> - <%= @event.address.split.last %>, le <%= @event.date.strftime("%d/%m/%Y") %> à <%= @event.time.strftime("%kh%M") %></span><br></h4>
      <h5>Créé par <strong><%= @event.user.first_name %></strong> (<%= @event.user.age %> ans, <%= @event.user.city %>) le <%=@event.created_at.strftime("%d/%m/%Y à %kh%M")%></h5>
      <%= @event.description %><br><br>

      <% if @event.players_number == 1 %>
        <span>Place disponible : <strong><%= @event.players_number %></strong></span><br>
      <% else %>
        <span>Places disponibles : <strong><%= @event.players_number %></strong></span><br>
      <% end %>

      <% if @event.level.nil? %>
      <span>Tout niveau accepté</span><br>
      <% else %>
      <span>Niveau minimum requis : <strong><%= @event.level %></strong></span><br>
      <% end %>

      <% if @event.age_mini.nil? %>
      <% else %>
      <span>Age mini : <strong><%= @event.age_mini %> ans</strong></span>
      <% end %><br>
      <% if @event.age_maxi.nil? %>
      <% else %>
      <span>Age maxi : <strong><%= @event.age_maxi %> ans</strong></span>
      <% end %><br>

      <span>Lieu de rendez-vous : <%= @event.address %></span><br><br>

      <%= link_to "Je m'inscris !", new_event_booking_path(@event), class: "btn btn-outline-success" %><br><br>

      <div class="d-flex" style="width: 30% ; height: 190px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div><br>

      <% if @event.price.nil? || @event.price == 0 %>
      <span>Gratuit</span><br>
      <% else %>
      <span>Prix : <strong><%= @event.price %></strong> €</span>
      <% end %><br><br>

      <%= link_to "Je m'inscris !", booking_path(@event), class: "btn btn-outline-success" %>
      <%= link_to "Retour au menu", events_path, class: "btn btn-outline-secondary" %><br><br>

      <% unless @event.user != current_user %>
        <%= link_to "Modifier", edit_event_path(@event), class: "btn btn-outline-warning" %>
      <% end %>
      <% if @event.user == current_user && Date.today < @event.date %>
        <%= link_to "Supprimer", event_path(@event), class: "btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "supprimer ?" } %><br><br>
      <% end %><br>

      <% if @event.reviews.blank? %>
        <h5>Aucun avis</h5>
      <% else %>
        <%# <%= @event.reviews.average(:rating).round(1) %>
        <h4><% starfull= @event.reviews.sum(:rating).round(0) / @event.reviews.count %>
          <% starfull.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
          <% (5-starfull).times do %>
            <i class="fa-regular fa-star"></i>
          <% end %>
        <strong><span> - </span><%= @event.reviews.size %><span> avis :</span></strong></h4>
      <% end %><br>

      <% unless @event.reviews.blank? %>
        <% @event.reviews.each do |review| %>
          <strong><%= review.user.first_name %></strong> (<%= review.user.age %> ans, <%= review.user.city %>)<br>
          <% starfull= review.rating.round(0) %>
            <% starfull.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
            <% (5-starfull).times do %>
              <i class="fa-regular fa-star"></i>
            <% end %><br>
          <%= review.comment %><br><br>
        <% end %>
      <% end %>

      <% if @reviews.find_by(user_id:current_user) %>
        <h5>Vous avez déjà laissé un avis</h5>
      <% else %>
      <%# <% elsif current_user.events.include?(@event) && @event.bookings.find_by(user:current_user) == "accepté" && Date.today > @event.date %> %>
        <h5>Comment s'est passée cette séance ?</h5>
        <div class="col-12 col-sm-4">
          <%= simple_form_for([@event, @review]) do |f| %>
          <%= f.input :comment, label: "Avis", placeholder: "10 caractères minimum" %>
          <%= f.input :rating, label: "Note", placeholder: "La note doit être comprise en 1 et 5)" %>
          <%= f.button :submit, "Valider", class: "btn btn-outline-warning" %><br>
          <% end %><br>
        <%# <% else %> %>
          <%# <i>Vous devez avoir participé à cet événement pour laisser un avis</i>
        <% end %> %>
        </div>
      <% end %>
    </div>
  </div>
</div>
