<div class="container-form">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">

      <h4><strong><%= @event.sport.sport_name.upcase %></strong></h4>
      <h5>Créé par <strong><%= @event.user.first_name %></strong> (<%= @event.user.age %> ans, <%= @event.user.city %>) le <%=@event.created_at.strftime("%d/%m/%Y à %kh%M")%></h5>
      <%= @event.description %><br>

      <% if @event.age_mini.nil? %>
      <% else %>
      <span>Age mini : <strong><%= @event.age_mini %> ans</strong></span>
      <% end %><br>
      <% if @event.age_maxi.nil? %>
      <% else %>
      <span>Age maxi : <strong><%= @event.age_maxi %> ans</strong></span>
      <% end %><br>

      <% if @event.players_number == 1 %>
        <span><strong><%= @event.players_number %></strong> place disponible</span><br>
      <% else %>
        <span><strong><%= @event.players_number %></strong> places disponibles</span><br>
      <% end %>

      <% if @event.level.nil? %>
      <span>Tout niveau accepté</span><br>
      <% else %>
      <span>Niveau minimum requis : <strong><%= @event.level %></strong></span><br>
      <% end %>

      <% if @event.price.nil? || @event.price == 0 %>
      <span>Gratuit</span><br>
      <% else %>
      <span>Prix : <%= @event.price %> €</span><br>
      <% end %>

      <span>Le <%= @event.date.strftime("%d/%m/%Y") %> à <%= @event.time.strftime("%kh%M") %></span><br>
      <span>Lieu de rendez-vous : <%= @event.address %></span><br><br>

      <%= link_to "Je m'inscris !", new_event_booking_path(@event), class: "btn btn-outline-success" %><br><br>

      <div class="d-flex" style="width: 30% ; height: 190px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div><br>

      <%= link_to "Modifier", edit_event_path(@event), class: "btn btn-outline-warning" %>
      <%= link_to "Supprimer", event_path(@event), class: "btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "supprimer ?" } %><br><br>
      <%= link_to "Retour au menu", events_path, class: "btn btn-outline-secondary" %><br><br><br><br>

<%# à déplacer dans bookings_path %>

      <div class="second-container">
        <h3><%= pluralize @event.reviews.size, "commentaire" %><span></h3>
        <h4> Note :
        <% if @event.reviews.blank? %>
            <i> -- </i></h4><br><br>
          <% else %>
            <%= @event.reviews.average(:rating).round(1) %><span>/5</span></h4><br>
          <% end %>

        <% if @event.reviews.blank? %>
          <p>Sois le 1er à laisser un commentaire</p>
        <% else %>
          <% @event.reviews.each do |review| %>
            <%= review.rating %>
            <span>/ 5  -   </span>
            <%= review.comment %><br>
          <% end %>
        <% end %><br>
        <%= simple_form_for([@event, @review]) do |f| %>
        <%= f.input :comment, placeholder: "Laisse un commentaire" %>
        <%= f.input :rating, placeholder: "Donne une note entre 1 et 5" %>
        <%= f.button :submit, class: "btn btn-outline-warning" %><br><br>
        <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
