<div class="friendslist-container">

  <h1>Demandes d'ami reçues</h1>
  <div class="row">
    <% @request_friend.each do |friendship| %>
      <div class="col-sm-6">
        <div class="card friend-request">
          <div class="card-body">
            <h5 class="card-title">Demande d'ami reçue de <%= User.find(friendship.user_id).first_name %></h5>
            <%= link_to 'Accepter', accept_friendship_path(friendship), method: :patch, data: { turbo_method: :patch }, class: "btn btn-primary mr-2" %>
            <%= link_to 'Refuser', friendship, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir refuser cette demande?' }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h1>Ma liste d'amis</h1>

  <div class="row">
    <% @friendships.each do |friendship| %>
      <% if friendship.status == "accepted" %>
        <div class="col-sm-6">
          <div class="card friend">
            <div class="card-body">
              <h5 class="card-title">
              <% if current_user.id == friendship.user_id %>
                <%= "#{friendship.friend.first_name} #{friendship.friend.last_name}" %>
              <% else  %>
                <%= "#{User.find(friendship.user_id).first_name} #{User.find(friendship.user_id).last_name}"  %>
              <% end  %></h5>
              <%= link_to 'Supprimer', friendship, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer cet ami?' }, class: "btn btn-danger mr-2" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
