<h2>Demandes d'inscription reçues</h2>
<table class="table">
  <thead>
    <tr>
      <th>Événement</th>
      <th>Participant</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.events.each do |event| %>
      <% if event.user == current_user %>
        <% event.bookings.each do |booking| %>
          <% unless booking.user == current_user %>
            <tr>
              <td><%= event.sport.sport_name %></td>
              <td><%= booking.user.full_name %>, <%= booking.user.age %></td>
              <td><%= booking.booking_status %></td>
              <td>
                <% if booking.booking_status == "En attente de validation" %>
                  <%= link_to "Accepter", approve_booking_path(booking), method: :patch, class: "btn btn-outline-success" %>
                  <%= link_to "Refuser", reject_booking_path(booking), method: :patch, class: "btn btn-outline-danger" %>
                <% else %>
                  <%= link_to "Annuler", cancel_booking_path(booking), method: :patch, class: "btn btn-outline-warning" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<% if current_user.bookings.empty? %>
  <p>Vous n'avez pas de réservation à venir</p>
<% end %>
