<h2>Mon historique - Organisateur</h2></br>
<table class="table">
  <thead>
    <tr>
      <th>Activité</th>
      <th>Participant</th>
      <th>Statut</th>
    </tr>
  </thead>

  <% if current_user.bookings.empty? && Date.today > event.date %>
    <p>Aucun historique</p>
  <% end %>

  <tbody>
    <% current_user.events.order(date: :desc).each do |event| %>
      <% if event.user == current_user && Date.today > event.date %>
        <% event.bookings.each do |booking| %>
          <% unless booking.user == current_user %>
            <tr>
              <td style="vertical-align:middle;"><%= event.date.strftime("%d/%m/%y") %><br><%= event.sport.sport_name %><br><%= event.address.split.last(2).first.chomp(',') %></td>

              <td style="vertical-align:middle;"><%= booking.user.full_name %><br><%= booking.user.age %> ans<br><%= booking.user.city %></td>

              <td style="vertical-align:middle;">
                <% if booking.booking_status == "Acceptée" %>
                  <%= link_to "Inscription acceptée", event_path(event), class: "btn btn-success btn-sm" %><br>
                <% elsif booking.booking_status == "Refusée" %>
                  <%= link_to "Inscription refusée", event_path(event), class: "btn btn-danger btn-sm" %><br>
                <% end %>
              </td>

            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
