<h2>Activités en cours - Participant</h2></br>
  <% if current_user.bookings.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Activité</th>
          <th>Organisateur</th>
          <th>Statut</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.bookings.joins(:event).order(date: :asc).each do |booking| %>
          <% event = booking.event %>
          <% if event.future? %>
            <tr>
              <td style="vertical-align:middle;"><%= event.date.strftime("%d/%m/%y") %><br><%= event.sport.sport_name %><br><%= event.address.split.last(2).first.chomp(',') %></td>
              <td style="vertical-align:middle;"><%= event.user.full_name %><br><%= event.user.age %> ans<br><%= event.user.city %></td>
              <td style="vertical-align:middle;">
                <% if booking.booking_status == "En attente de validation" %>
                  <div><%= link_to "En attente", event_path(event), class: "btn btn-outline-warning btn-sm" %></div>
                <% elsif booking.booking_status == "Acceptée" %>
                  <div><%= link_to "Validée", event_path(event), class: "btn btn-outline-success btn-sm" %></div>
                <% elsif booking.booking_status == "Refusée" %>
                  <div><%= link_to "Refusée", event_path(event), class: "btn btn-outline-danger btn-sm" %></div>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Aucune inscription en cours</p>
  <% end %>
