  <h2>Mes réservations à venir</h2></br>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Places proposées</th>
          <th>Statut</th>
          <th>Lien</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.bookings.each do |booking| %>
          <% event = booking.event %>
          <% if event.future? %>
            <tr>
              <td><%= event.date.strftime("%d/%m/%Y") %></td>
              <td><%= event.players_number %></td>
              <td><% if booking.booking_status == "Acceptée" %>
                  <div>Inscription validée : tu vas participer à cette partie</div>
                <% elsif booking.booking_status == "En attente de validation" %>
                  <div>Tu as postulé à cette partie - Demande en attente de traitement</div>
                <% elsif booking.booking_status == "Refusée" %>
                  <div>Ta demande a été refusée</div>
                <% end %></td>
              <td><%= link_to "Accéder", event_path(event), class: "btn btn-warning" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table></br>

  <h2>Mes réservations passées</h2></br>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Places proposées</th>
          <th>Statut</th>
          <th>Lien</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.bookings.each do |booking| %>
          <% event = booking.event %>
          <% if event.past? %>
            <tr>
              <td><%= event.date.strftime("%d/%m/%Y") %></td>
              <td><%= event.players_number %></td>
              <td><% if booking.booking_status == "Acceptée" %>
                  <div>Inscription validée : tu vas participer à cette partie</div>
                <% elsif booking.booking_status == "En attente de validation" %>
                  <div>Tu as postulé à cette partie - Demande en attente de traitement</div>
                <% elsif booking.booking_status == "Refusée" %>
                  <div>Ta demande a été refusée</div>
                <% end %></td>
              <td><%= link_to "Accéder", event_path(event), class: "btn btn-warning" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
