<h1>Mon tableau de bord</h1>
<% if @bookings.empty?  %>
  <p>Tu n'es inscrit à aucun événement</p>
<%else%>
  <p>Vous avez <%= @bookings.count %> réservation(s)</p>

<div>
  <h1>Toutes mes inscriptions</h1>
</div>

<div>
  <h2>Mes séances à venir</h2>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Event Title</th>
      <th>Event Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <% if booking.event.date >= Date.today %>
        <tr>
          <td><%= booking.event.title %></td>
          <td><%= booking.event.date %></td>
          <td>
            <% if booking.booking_status == "Rejetée" %>
              <span class="badge-danger">Rejected</span>
            <% elsif booking.booking_status == "Acceptée" %>
              <span class="badge-success">Acceptée</span>
            <% else %>
              <span class="badge-warning">En attente de validation</span>
            <% end %>
          </td>
          <td><%= link_to "Afficher", event_path(booking), class: "btn btn-outline-warning" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div>
  <h2>Mes séances passées</h2>
</div>

<div>
  <ul>
    <% @bookings.each do |booking| %>
      <%if booking.event.date < Date.today %>
        <ul>
          <p>Séance : <%= booking.event.sport_name %></p>
          <p>date: <%= booking.date %></p>
        </ul>
      <% end %>
    <% end %>
    <div><%= link_to "Retourner à mon profil", profile_path, class: "btn btn-outline-warning" %></h3></div>
  </ul>


  <%end%>
</div>
