<div class="profile" style="display: flex;">
  <div class="user-info" style="flex: 1; display: flex; flex-direction: column; background-color: #DBDADB; padding: 30px;">
    <h1 style="margin-top: 30px; color: #E98B2A;">Profil de <%= @user.first_name %></h1>
    <p style="margin-bottom: 10px; color: #7B8AA2;">Prénom: <%= @user.first_name %></p>
    <p style="margin-bottom: 10px; color: #7B8AA2;">Age: <%= @user.age %></p>
    <p style="margin-bottom: 10px; color: #7B8AA2;">Ville d'habitation: <%= @user.city %></p>
    <h2 style="margin-top: 30px; color: #E98B2A;">Description</h2>
    <% if @user_description.present? %>
      <p style="color: #7B8AA2; margin-bottom: 10px;"><%= @user.description %></p>
    <% else %>
      <p style="color: #7B8AA2; margin-bottom: 10px;">Ce joueur n'a pas encore ajouté de description</p>
    <% end %>
    <div class="friends-list" style="flex: 1; display: flex; flex-direction: column; background-color: #DBDADB; padding: 30px;">
      <h2 style="margin-top: 30px; color: #E98B2A;">Liste d'amis</h2>
        <%  @friendships.each do |friendship| %>
          <% if current_user == friendship.user_id %>
          <div class="friend-item" style="background-color: #fff; padding: 20px; border-radius: 10px; margin-top: 30px; text-align: center;">
            <p style="color: #7B8AA2; margin-bottom: 10px;"> <%= friendship.friend_id.first_name %> <%= friendship.friend_id.last_name %></p>
          <% else %>
            <div class="friend-item" style="background-color: #fff; padding: 20px; border-radius: 10px; margin-top: 30px; text-align: center;">
            <p style="color: #7B8AA2; margin-bottom: 10px;"> <%= User.find(friendship.user_id).first_name %> <%= User.find(friendship.user_id).last_name %></p>
          <% end  %></h5>
    </div>
  <% end %>
</div>
  </div>
  <div class="events-list" style="flex: 1; display: flex; flex-direction: column; background-color: #DBDADB; padding: 30px;">
    <h2 style="margin-top: 30px; color: #E98B2A;">Evénements créés ou participés</h2>
    <% @user.events.each do |event| %>
      <div class="event-item" style="background-color: #fff; padding: 20px; border-radius: 10px; margin-top: 30px; text-align: center;">
        <p style="color: #7B8AA2; margin-bottom: 10px;">Nom de l'événement: <%= event.sport.sport_name %></p>
        <p style="color: #7B8AA2; margin-bottom: 10px;">Lieu: <%= event.address %></p>
        <p style="color: #7B8AA2; margin-bottom: 10px;">Date: <%= event.date %></p>
      </div>
    <% end %>
  </div>
