<div class="profile-container"><br>

    <div class="container-profile">
      <div class="row-profile">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><%= @user.first_name %> <%= @user.last_name %></h5>
              <p class="text-muted mb-1"><%= @user.age %> ans</p>
              <p class="text-muted mb-4"><%= @user.city %></p>
              <div class="d-flex justify-content-center mb-2">
                <%= link_to "Editer mon profil", edit_user_registration_path, class: "btn btn-outline-warning btn-sm" %>
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
    <div class="card-body p-0">
      <h2>Ma liste d'amis (<%=@friends_count %>)</h2><br>
      <ul class="list-group list-group-flush rounded-3">
        <% @friendships.each do |friendship| %>
          <% if current_user.id == friendship.user_id %>
            <li class="d-flex justify-content-between align-items-center p-3">
              <p class="mb-0">
                <%= link_to "#{friendship.friend.first_name} #{friendship.friend.last_name}", user_path(friendship.friend_id), style: "text-decoration: none;" %>
              </p>
            </li>
          <% else %>
            <li class="d-flex justify-content-between align-items-center p-3 bs-list-group-bg: none">
              <p class="mb-0">
                <%= link_to "#{User.find(friendship.user_id).first_name} #{User.find(friendship.user_id).last_name}", user_path(friendship.user_id), style: "text-decoration: none;" %>
              </p>
            </li>
          <% end %>
        <% end %>
      </ul>

      <% if @request_friend_count == nil %>
        <%= link_to "Demandes d'amis en attente : #{@request_friend_count}", friendslist_friendships_path, class: "btn btn-info btn-sm" %>
      <% else %>
        <p>Pas de demande en attente</p>
      <% end %><br>

      <div class="mb-4"><%= render 'pages/search_friends' %></div>

    </div>
  </div>

        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row-profile">
                <div class="col-sm-3">
                  <p class="mb-0"></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0" style="color: white">Description : <%=current_user.user_description %></p>
                </div>
              </div>
              <hr>
              <div class="row-profile">
                <div class="col-sm-3">
                  <p class="mb-0"></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Evénement(s) créé(s): <%=@created_event_count%></p>
                </div>
              </div>
              <hr>
              <div class="row-profile">
                <div class="col-sm-3">
                  <p class="mb-0"></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Evénement(s) participé(s): <%=@attended_event_count%></p>
                </div>
              </div>
              <hr>
              <div class="row-profile">
                <div class="col-sm-3">
                  <p class="mb-0"></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Status : Sportif confirmé</p>
                </div>
              </div>
              <hr>
              <div class="row-profile">
                <div class="col-sm-3">
                  <p class="mb-0"></p>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5>Mes événements organisés</h5>
                      <% @user.events.each do |event| %>
                        <% if event.user_id == current_user.id %>
                          <ul style="color: white; text-align: center"><%= event.sport.sport_name %> - <%= event.address.split.last(2).first.chomp(',') %>, le <%= event.date.strftime("%d/%m/%Y") %></ul>
                          <%end%>
                          <%end%>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5>Mes événements participés</h5>
                    <% @user.bookings.each do |booking| %>
                      <% event = Event.find(booking.event_id) %>
                      <%if booking.booking_status == "Acceptée"%>
                      <ul style="color: white; text-align: center"><%= event.sport.sport_name %> - <%= event.address.split.last(2).first.chomp(',') %>, le <%= event.date.strftime("%d/%m/%Y") %></ul>
                      <%end%>
                    <%end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
