<div class="card-profile-align-start">
  <% @activities.each do |activity| %>
    <% unless activity.trackable.nil? %>

      <% if activity.key == "event.destroy" %>
        <span><strong><%= activity.id %></strong> a été supprimée
        <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>

      <%# je crée une activité %>
      <% elsif activity.key == "event.create" %>
        <% if activity.trackable.user == current_user %><span> Tu as créé l'activité
        <%= link_to activity.trackable.sport.sport_name, event_path(activity.trackable.id), class:"link_activity" %> qui aura lieu à
        <%= activity.trackable.address.split.last(2).first.chomp(',') %> le <%= activity.trackable.date.strftime("%d/%m/%Y") %> à <%= activity.trackable.time.strftime("%kh%M") %><br>
        <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>
        <% end %>

      <%# je modifie une activité %>
      <% elsif activity.key == "event.update" %>
        <% if activity.trackable.user == current_user %><span> Tu as modifié l'activité
        <%= link_to activity.trackable.sport.sport_name, event_path(activity.trackable.id), class:"link_activity" %>
        <%= link_to activity.trackable.address.split.last(2).first.chomp(','), event_path(activity.trackable.id), class:"link_activity" %>
        (<%= activity.trackable.date.strftime("%d/%m/%Y") %>)<br>
        <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>
        <% end %>

      <%# on a modifié l'activité à laqelle tu participes %>

      <%# je poste un message %>
      <% elsif activity.key == "message.create" %>
        <% if activity.trackable.user == current_user %><span> Tu as posté un message dans la chatroom de
        <%= link_to activity.trackable.chatroom.event.sport.sport_name, event_path(activity.trackable.chatroom.event.id), class:"link_activity" %>
        <%= link_to activity.trackable.chatroom.event.address.split.last(2).first.chomp(','), event_path(activity.trackable.chatroom.event.id), class:"link_activity" %>
        (<%= activity.trackable.chatroom.event.date.strftime("%d/%m/%Y") %>)<br>
        <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>
        <% end %>

      <%# je m'inscris à une activité %>
      <% elsif activity.key == "booking.create" %>
        <% if activity.trackable.user == current_user %><span> Tu t'es inscrit à l'activité
        <%= link_to activity.trackable.event.sport.sport_name, event_path(activity.trackable.event.id), class:"link_activity" %>
        <%= link_to activity.trackable.event.address.split.last(2).first.chomp(','), event_path(activity.trackable.event.id), class:"link_activity" %>
        (<%= activity.trackable.event.date.strftime("%d/%m/%Y") %>)<br>
        <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>
        <% end %>

      <%# mon inscrition a été acceptée ou refusée %>
      <% elsif activity.key == "booking.update" %>
        <% if activity.trackable.user == current_user %>
          <% if activity.trackable.booking_status == "Acceptée" %>
          <span>Ton inscription à l'activité
          <%= link_to activity.trackable.event.sport.sport_name, event_path(activity.trackable.event.id), class:"link_activity" %>
          <%= link_to activity.trackable.event.address.split.last(2).first.chomp(','), event_path(activity.trackable.event.id), class:"link_activity" %>
          (<%= activity.trackable.event.date.strftime("%d/%m/%Y") %>) a été acceptée
          <% elsif activity.trackable.booking_status == "Refusée" %>
          <span>Ton inscription à l'activité
          <%= link_to activity.trackable.event.sport.sport_name, event_path(activity.trackable.event.id), class:"link_activity" %>
          <%= link_to activity.trackable.event.address.split.last(2).first.chomp(','), event_path(activity.trackable.event.id), class:"link_activity" %>
          (<%= activity.trackable.event.date.strftime("%d/%m/%Y") %>) a été refusée
          <% end %><br>
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>
        <% end %>

      <%# je poste un avis aprés ma participation à une activité %>
      <% elsif activity.key == "review.create" %>
        <% if activity.trackable.user == current_user %>
          <span>Tu a posté un avis aprés ta participation à l'activité
          <%= link_to activity.trackable.event.sport.sport_name, event_path(activity.trackable.event.id), class:"link_activity" %> à
          <%= link_to activity.trackable.event.address.split.last(2).first.chomp(','), event_path(activity.trackable.event.id), class:"link_activity" %> le
          <%= activity.trackable.event.date.strftime("%d/%m/%Y") %><br>
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>
        <%# on a posté un avis aprés la participation à une de mes activités %>
        <% elsif activity.trackable.event.user == current_user  %>
          <span><strong><%= activity.trackable.user.full_name %></strong> a laissé un avis aprés sa participation à ton activité
          <%= link_to activity.trackable.event.sport.sport_name, event_path(activity.trackable.event.id), class:"link_activity" %> à
          <%= link_to activity.trackable.event.address.split.last(2).first.chomp(','), event_path(activity.trackable.event.id), class:"link_activity" %> le
          <%= activity.trackable.event.date.strftime("%d/%m/%Y") %><br>
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>
        <% end %>

      <% elsif activity.key == "user.friend_accept" %>
        <span><strong><%= activity.owner&.full_name %></strong>
        et <strong><%= activity.trackable.full_name %></strong> sont désormais amis !<br>
        <div class="time_ago"><%= time_ago_in_words(activity.created_at) %>
        </div></span>

      <% elsif activity.key == "user.follow" %>
        <span><strong><%= activity.owner&.full_name %></strong>
        a demandé <strong><%= activity.trackable.full_name %></strong> en ami<br>
        <div class="time_ago"><%= time_ago_in_words(activity.created_at) %>
        </div></span>

      <% elsif activity.key == "user.friend_cancel" %>
        <span><strong><%= activity.owner&.full_name %></strong>
        n'est plus ami avec <strong><%= activity.trackable.full_name %></strong><br>
        <div class="time_ago"><%= time_ago_in_words(activity.created_at) %>
        </div></span>

      <% elsif activity.key == "user.friend_decline" %>
        <span><strong><%= activity.owner&.full_name %></strong>
        a refusé la demande d'amitié de
        <strong><%= activity.trackable.full_name %></strong><br>
        <div class="time_ago"><%= time_ago_in_words(activity.created_at) %>
        </div></span>

        <% end %>
    <% end %>
  <% end %>
  </div>
</div>
