<div class="profile-container">
  <div class="container">
    <div class="card-profile">

      <img src="" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
      <h3><%= @user.full_name %></h3>
      <p class="text mb-0"><%= @user.age %> ans, <%= @user.city %><br><%=@user.user_description %></p><br>
      <div><%= link_to "Editer mon profil", edit_user_registration_path, class: "btn btn-outline-warning btn-sm" %></div>

      <hr/>

      <p class="text mb-0">Organisateur d'activité : <strong><%= @events.count %></strong></p>
      <p class="text mb-0">Participant d'activité : <strong><%= @bookings.count %></strong></p>

      <hr/>

      <h4>Amis</h4>

      <h5>Demandes d'ami</h5>
      <% if current_user.follow_requests.any? %>
      <% current_user.follow_requests.each do |request| %>
        <p><strong><%= request.followerable.full_name %></strong></p>
        <div class="d-flex justify-content-center">
          <div><%= button_to "Accepter", accept_path(request.followerable), { class: 'btn btn-success btn-sm' } %></div>
          <div><%= button_to "Refuser", decline_path(request.followerable), { class: 'btn btn-danger btn-sm' } %></div>
        </div><br>
        <% end %>
      <% else %>
        <p><i>Aucune demande d'ami en cours</i></p>
      <% end %>

      <h5>Ma liste d'amis</h5>
      <div class="card-profile-align-start">
        <% current_user.followers.each do |user| %>
          <a><%= link_to user.full_name, follower_path(user), class: "profile-follower-link" %> - <%= user.city %>, <%= user.age %> ans</a><br>
        <% end %><br>
      </div>

      <%= link_to "Rechercher un joueur", search_path, class: "btn btn-outline-info btn-sm" %>

      <hr/>

      <h4>Mon agenda :</h4><br>
      <div class="card-profile-align-start">
        <% @bookings.last(10) %>
        <% @bookings.each do |booking| %>
          <% if booking.event.date >= Date.today %>
            <p><strong><%= booking.event.date.strftime("%d/%m/%Y") %> : </strong><%= booking.event.sport.sport_name %> - <%= booking.event.address.split.last(2).first.chomp(',') %></p>
          <% end %>
        <%end %>
        <% @user.events.last(10) %>
        <% @user.events.each do |event| %>
          <% if event.date >= Date.today %>
            <p><strong><%= event.date.strftime("%d/%m/%Y") %> : </strong><%= event.sport.sport_name %> - <%= event.address.split.last(2).first.chomp(',') %> (organisateur)</p>
          <% end %>
        <% end %>
      </div>

      <%= link_to "Accéder à mon tableau de bord", dashboard_path, class: "btn btn-outline-info btn-sm" %>

      <hr/>

      <h4>Mon historique :</h4>
      <div class="card-profile-align-start">
        <% @bookings.last(10) %>
        <% @bookings.each do |booking| %>
          <% if booking.event.date < Date.today %>
            <p><strong><%= booking.event.sport.sport_name %></strong> - <%= booking.event.address.split.last(2).first.chomp(',') %>, le <%= booking.event.date.strftime("%d/%m/%Y") %></p>
          <% end %>
        <%end %>
        <% @user.events.last(10) %>
        <% @user.events.each do |event| %>
          <% if event.date < Date.today %>
            <p><strong><%= event.sport.sport_name %></strong> - <%= event.address.split.last(2).first.chomp(',') %>, le <%= event.date.strftime("%d/%m/%Y") %> (organisateur)</p>
          <% end %>
        <% end %>
      </div>
      <hr/>

      <h4>Mon actualité :</h4><br>
      <div class="card-profile-align-start">
      <% @activities.each do |activity| %>

        <% if activity.key == "event.destroy" %>
          <span><strong><%= activity.id %></strong> a été supprimée
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>

        <% elsif activity.key == "event.create" %>
          <span><strong><%= activity.trackable.user.full_name %></strong> a créé une nouvelle activité
          <%= link_to activity.trackable.sport.sport_name, event_path(activity.trackable.id), class:"link_activity" %> qui aura lieu à
          <%= activity.trackable.address.split.last(2).first.chomp(',') %> le <%= activity.trackable.date.strftime("%d/%m/%Y") %> à <%= activity.trackable.time.strftime("%kh%M") %><br>
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>

        <% elsif activity.key == "event.update" %>
          <span><strong><%= activity.trackable.user.full_name %></strong> a modifié l'activité
          <%= link_to activity.trackable.sport.sport_name, event_path(activity.trackable.id), class:"link_activity" %>
          <%= link_to activity.trackable.address.split.last(2).first.chomp(','), event_path(activity.trackable.id), class:"link_activity" %>
          (<%= activity.trackable.date.strftime("%d/%m/%Y") %>)<br>
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>

        <% elsif activity.key == "message.create" %>
          <span><strong><%= activity.trackable.user.full_name %></strong> a posté un nouveau message dans la chatroom
          <%= link_to activity.trackable.chatroom.event.sport.sport_name, event_path(activity.trackable.chatroom.event.id), class:"link_activity" %>
          <%= link_to activity.trackable.chatroom.event.address.split.last(2).first.chomp(','), event_path(activity.trackable.chatroom.event.id), class:"link_activity" %>
          (<%= activity.trackable.chatroom.event.date.strftime("%d/%m/%Y") %>)<br>
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>

        <% elsif activity.key == "booking.create" %>
          <span><strong><%= activity.trackable.user.full_name %></strong> s'est inscrit à l'activité
          <%= link_to activity.trackable.event.sport.sport_name, event_path(activity.trackable.event.id), class:"link_activity" %>
          <%= link_to activity.trackable.event.address.split.last(2).first.chomp(','), event_path(activity.trackable.event.id), class:"link_activity" %>
          (<%= activity.trackable.event.date.strftime("%d/%m/%Y") %>)<br>
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>

        <% elsif activity.key == "booking.update" %>
          <% if activity.trackable.booking_status == "Acceptée" %>
          <span>L'inscription de <strong><%= activity.trackable.user.full_name %></strong> à l'activité
          <%= link_to activity.trackable.event.sport.sport_name, event_path(activity.trackable.event.id), class:"link_activity" %>
          <%= link_to activity.trackable.event.address.split.last(2).first.chomp(','), event_path(activity.trackable.event.id), class:"link_activity" %>
          (<%= activity.trackable.event.date.strftime("%d/%m/%Y") %>) a été acceptée
          <% elsif activity.trackable.booking_status == "Refusée" %>
          <span>L'inscription de <strong><%= activity.trackable.user.full_name %></strong> à l'activité
          <%= link_to activity.trackable.event.sport.sport_name, event_path(activity.trackable.event.id), class:"link_activity" %>
          <%= link_to activity.trackable.event.address.split.last(2).first.chomp(','), event_path(activity.trackable.event.id), class:"link_activity" %>
          (<%= activity.trackable.event.date.strftime("%d/%m/%Y") %>) a été refusée
          <% end %><br>
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>

        <% elsif activity.key == "user.create" %>
          <span><strong><%= activity.trackable.full_name %></strong> a rejoint la communauté BlaBlaSport !!<br>
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>

        <% elsif activity.key == "review.create" %>
          <span><strong><%= activity.trackable.user.full_name %></strong> a laissé un avis aprés sa participation au
          <%= link_to activity.trackable.event.sport.sport_name, event_path(activity.trackable.event.id), class:"link_activity" %> à
          <%= link_to activity.trackable.event.address.split.last(2).first.chomp(','), event_path(activity.trackable.event.id), class:"link_activity" %> le
          <%= activity.trackable.event.date.strftime("%d/%m/%Y") %><br>
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %></div></span>

          <% elsif activity.key == "user.friend_accept" %>
          <span><strong><%= User.where(id: activity.owner_id).first.full_name %></strong>
          et <strong><%= activity.trackable.full_name %></strong> sont désormais amis !<br>
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %>
          </div></span>

          <% elsif activity.key == "user.follow" %>
          <% User.where(id: activity.owner_id) %>
          a demandé <strong><%= activity.trackable.full_name %></strong> en ami<br>
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %>
          </div></span>

          <% elsif activity.key == "user.friend_cancel" %>
          <% User.find_by(id: activity.owner_id) %>
          n'est plus ami avec<strong><%= activity.trackable.full_name %></strong><br>
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %>
          </div></span>

          <% elsif activity.key == "user.friend_decline" %>
          <% User.find_by(id: activity.owner_id) %> a refysé la demande d'amitié de
          <strong><%= activity.trackable.full_name %></strong><br>
          <div class="time_ago"><%= time_ago_in_words(activity.created_at) %>
          </div></span>

          <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
