<div class="profile-container"><br>

  <div class="card-profile">

    <img src="" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
    <h3><%= @user.full_name %></h3>
    <p class="text mb-0"><%= @user.age %> ans, <%= @user.city %><br><%=@user.user_description %></p><br>
    <div><%= link_to "Editer mon profil", edit_user_registration_path, class: "btn btn-outline-warning btn-sm" %></div>

    <hr/>

    <p class="text mb-0">Organisateur d'activité : <strong><%= @events.count %></strong></p>
    <p class="text mb-0">Participant d'activité : <strong><%= @bookings.count %></strong></p>

    <hr/>

    <h4>Amis</h4>

    <h5>Demandes d'ami</h5>
    <% if current_user.follow_requests.any? %>
    <% current_user.follow_requests.each do |request| %>
      <p><strong><%= request.followerable.full_name %></strong></p>
      <div class="d-flex justify-content-center">
        <div><%= button_to "Accepter", accept_path(request.followerable), { class: 'btn btn-success btn-sm' } %></div>
        <div><%= button_to "Refuser", decline_path(request.followerable), { class: 'btn btn-danger btn-sm' } %></div>
      </div><br>
      <% end %>
    <% else %>
      <p><i>Aucune demande d'ami en cours</i></p>
    <% end %>

    <h5>Ma liste d'amis</h5>
    <% current_user.followers.each do |user| %>
      <a><%= link_to user.full_name, follower_path(user), class: "profile-follower-link" %> - <%= user.city %>, <%= user.age %> ans</a><br>
    <% end %><br>

    <%= link_to "Rechercher un joueur", search_path, class: "btn btn-outline-info btn-sm" %>

    <hr/>

    <h4>Mon agenda :</h4><br>

    <% @bookings.last(10) %>
    <% @bookings.each do |booking| %>
      <% if booking.event.date >= Date.today %>
        <p><strong><%= booking.event.sport.sport_name %></strong> - <%= booking.event.address.split.last(2).first.chomp(',') %>, le <%= booking.event.date.strftime("%d/%m/%Y") %></p>
      <% end %>
    <%end %>
    <% @user.events.last(10) %>
    <% @user.events.each do |event| %>
      <% if event.date >= Date.today %>
        <p><strong><%= event.sport.sport_name %></strong> - <%= event.address.split.last(2).first.chomp(',') %>, le <%= event.date.strftime("%d/%m/%Y") %> (organisateur)</p>
      <% end %>
    <% end %>
    <%= link_to "Accéder à mon tableau de bord", dashboard_path, class: "btn btn-outline-info btn-sm" %>

    <hr/>

    <h4>Mon historique :</h4>
      <% @bookings.last(10) %>
      <% @bookings.each do |booking| %>
        <% if booking.event.date < Date.today %>
          <p><strong><%= booking.event.sport.sport_name %></strong> - <%= booking.event.address.split.last(2).first.chomp(',') %>, le <%= booking.event.date.strftime("%d/%m/%Y") %></p>
        <% end %>
      <%end %>
      <% @user.events.last(10) %>
      <% @user.events.each do |event| %>
        <% if event.date < Date.today %>
          <p><strong><%= event.sport.sport_name %></strong> - <%= event.address.split.last(2).first.chomp(',') %>, le <%= event.date.strftime("%d/%m/%Y") %> (organisateur)</p>
        <% end %>
      <% end %>

    <hr/>

    <h4>Mon actualité :</h4><br>

  </div>

</div>
